<ion-content
[fullscreen]="true"
class="insumo-background">

<div class="contenedor">

<h2>

Registro de Ingreso de Insumo 

</h2>

<div class="icono-insumo">

📦

</div>

<p>

Registrar información del nuevo insumo

</p>

<ion-item class="campo">

<ion-input
placeholder="Nombre del insumo"
[(ngModel)]="nombre">
</ion-input>

</ion-item>

<ion-item class="campo">

<ion-select
placeholder="Categoría"
[(ngModel)]="categoria">

<ion-select-option value="carnes">

Carnes

</ion-select-option>

<ion-select-option value="bebidas">

Bebidas

</ion-select-option>

<ion-select-option value="verduras">

Verduras

</ion-select-option>

</ion-select>

</ion-item>

<ion-item class="campo">

<ion-input
placeholder="Cantidad"
[(ngModel)]="cantidad">
</ion-input>

</ion-item>

<ion-item class="campo">

<ion-select
placeholder="Unidad"
[(ngModel)]="unidad">

<ion-select-option value="kg">

Kilogramos

</ion-select-option>

<ion-select-option value="litros">

Litros

</ion-select-option>

<ion-select-option value="unidades">

Unidades

</ion-select-option>

</ion-select>

</ion-item>

<ion-item class="campo">

<ion-input
placeholder="Fecha"
[(ngModel)]="fecha">
</ion-input>

</ion-item>

<div class="botones">

<ion-button class="cancelar" (click)="cancelar()">
  Cancelar
</ion-button>

<ion-button
class="guardar"
(click)="guardarInsumo()">

Guardar

</ion-button>

</div>

</div>

</ion-content>