// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {

--ion-color-primary:#2f56e0;
--ion-color-secondary:#1b2f75;
--ion-color-success:#4CAF50;

--app-background:#0f2b7a;

--app-card:#1e3d97;

--app-input:#29469f;

--app-text:#ffffff;

}